{{ $paint := .Site.Data.paint }}
{{ $social := .Site.Data.social }}

<section class="skin" style="padding-top: 2em;">
    <h3 class="heading">{{ $paint.title }}</h3>
    <main>
        <div class="left-block">
            <div class="colors">
                <button type="button" value="#0000ff"></button>
                <button type="button" value="#009fff"></button>
                <button type="button" value="#0fffff"></button>
                <button type="button" value="#bfffff"></button>
                <button type="button" value="#000000"></button>
                <button type="button" value="#333333"></button>
                <button type="button" value="#666666"></button>
                <button type="button" value="#999999"></button>
                <button type="button" value="#ffcc66"></button>
                <button type="button" value="#ffcc00"></button>
                <button type="button" value="#ffff00"></button>
                <button type="button" value="#ffff99"></button>
                <button type="button" value="#003300"></button>
                <button type="button" value="#555000"></button>
                <button type="button" value="#00ff00"></button>
                <button type="button" value="#99ff99"></button>
                <button type="button" value="#f00000"></button>
                <button type="button" value="#ff6600"></button>
                <button type="button" value="#ff9933"></button>
                <button type="button" value="#f5deb3"></button>
                <button type="button" value="#330000"></button>
                <button type="button" value="#663300"></button>
                <button type="button" value="#cc6600"></button>
                <button type="button" value="#deb887"></button>
                <button type="button" value="#aa0fff"></button>
                <button type="button" value="#cc66cc"></button>
                <button type="button" value="#ff66ff"></button>
                <button type="button" value="#ff99ff"></button>
                <button type="button" value="#e8c4e8"></button>
                <button type="button" value="#ffffff"></button>
            </div>
            <div class="brushes">
                <button type="button" value="2"></button>
                <button type="button" value="15"></button>
                <button type="button" value="30"></button>
            </div>
            <div class="buttons">
                <button id="save" type="button">Save</button>
                <button id="clear" type="button">Clear</button>
                <button id="stylize" type="button">GANify!</button>
            </div>
        </div>
        <div class="right-block">
            <canvas id="paint-canvas" width="550" height="350"></canvas>
        </div>
    </main>

    <div class="row justify-content-md-center text-center">
        <div class="col-12 col-lg-6 col-md-6 mb-3">
            <h3 class="mt-4">There's more!</h3>
            <i class="fa fa-arrow-down" style="font-size: 5rem"></i>
        </div>
    </div>
</section>